.navContainer li
{
    width: 10%;
}
nav
{
    background-size: 100%;
    height: 80vh;
}
.firstContentImg
{
    background-size: 123%;
}
.mountainImg
{
    background-size: 120%;
}
.forestImg
{
    background-size: 120%;
}
.seaImg
{
    background-size: 120%;
}