.navContainer li
{
    width: 100%;
    margin-top: 35px;
}
.navContainer ul
{
    display: block;
    text-align: center;
}
nav
{
    background-size: 300%;
    height: 55vh;
}
.navContainer a
{
    padding: 10px;
    border: 1px solid white;
    font-size : 20px;
}
.navContainer h1
{
    padding-top: 20px;
}
.firstContentImg
{
    background-size: 520%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.mountainImg
{
    background-size: 520%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.forestImg
{
    background-size: 520%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.seaImg
{
    background-size: 520%;
    padding-top: 100px;
    padding-bottom: 100px;
}
