.navContainer li
{
    width: 15%;
}
nav
{
    background-size: 100%;
    height: 53vh;
}
.firstContentImg
{
    background-size: 200%;
}
.mountainImg
{
    background-size: 200%;
}
.forestImg
{
    background-size: 200%;
}
.seaImg
{
    background-size: 200%;
}