.navContainer li
{
    width: 11%;
}
nav
{
    background-size: 100%;
    height: 70vh;
}
.firstContentImg
{
    background-size: 150%;
}
.mountainImg
{
    background-size: 145%;
}
.forestImg
{
    background-size: 145%;
}
.seaImg
{
    background-size: 145%;
}