.navContainer li
{
    width: 28%;
}
nav
{
    background-size: 120%;
    height: 40vh;
}
.navContainer h1
{
    padding-top: 20px;
}
.firstContentImg
{
    background-size: 320%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.mountainImg
{
    background-size: 320%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.forestImg
{
    background-size: 320%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.seaImg
{
    background-size: 320%;
    padding-top: 100px;
    padding-bottom: 100px;
}