body{padding:0px; margin:0px;font-family: 'Cormorant Garamond', serif;}
nav
{
    background-image: url(img/homeImg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 90vh;
}
.navContainer
{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: -20px;
}
.contentContainer
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.navContainer ul
{
    display: flex;
    list-style-type: none;
    padding: 30px;
}
.navContainer li
{
    width: 8%;
}
.navContainer a
{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 100;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid white;
    transition: 1s;
}
.navContainer a:hover
{
    transition: 1s;
    background-color: white;
    color: black;
}
.navContainer h1
{
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 100;
    padding-top: 200px;
}
.navContainer h3
{
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 100;
}
.firstContent
{
    text-align: center;
    font-size: 24px;
}
.firstContent p
{
    font-size: 40px;
}
hr
{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 1px;
    background: black;
    border: 0;
}
.firstContentImg
{
    background-image: url(img/forestImg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-size: 40px;
    color: white;
    padding-top: 200px;
    padding-bottom: 200px;
}
.firstContentImg a
{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 100;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid white;
    transition: 1s;
}
.firstContentImg a:hover
{
    transition: 1s;
    background-color: white;
    color: black;
}
.mountainImg
{
    background-image: url(img/mountainImg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-size: 40px;
    color: white;
    padding-top: 200px;
    padding-bottom: 200px;
}
.mountain2Img
{
    background-image: url(img/mountain2Img.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-size: 40px;
    color: white;
    padding-top: 200px;
    padding-bottom: 200px;
}
a
{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 100;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid white;
    transition: 1s;
}
a:hover
{
    transition: 1s;
    background-color: white;
    color: black;
}
.forestImg
{
    background-image: url(img/forest2Img.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-size: 40px;
    color: white;
    padding-top: 200px;
    padding-bottom: 200px;
}
.seaImg
{
    background-image: url(img/seaImg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-size: 40px;
    color: white;
    padding-top: 200px;
    padding-bottom: 200px;
}
input
{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
}
textarea
{
    width: 100%;
    height: 200px;
    resize: none;
    padding: 10px;
    border: 1px solid black;
}
footer
{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-color: black;
    text-align: center;
}